.HomeFuture{
    border-radius: 45px;
    background: url("/assets/images/future.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1720px;
    width:100%;
    margin:0 auto;
    margin-top: -280px;
    @media(max-width:768px){
        .mobileNone{
            display: none !important;
        }
    }
    
    .futureContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 156px 0px;
        padding-bottom: 190px;
        z-index: 2;
        position: relative;
        h3{
            font-size: 45px;
            color: #4E4E4E;
            letter-spacing: -1.8px;
            font-weight: 400;
            line-height: 30px;
            @media(max-width:500px){
                margin-bottom: 0px !important;
            }
        }
        .futureBottom{
            display: flex;
            align-items: center;
         
            b{
                font-size: 45px;
                color: #4E4E4E;
                font-weight: bold;
                @media(max-width:1200px){
                    font-size: 22px !important;
                }
            }
            p{  
                max-width: 761px;
                empty-cells: 100%;
                color: #9B9B9B;
                margin-left: 20px;
                font-weight: 300;
                margin-bottom: 0px;
            }
        }
    }
    .desktopNone{
        display: none;
    }
    .mobileNone{
        display: block;
    }
}


@media(max-width:1440px){
    .mobileNone{
        display: none;
    }
}
@media(max-width:768px){
    .HomeFuture{
        h3{
            letter-spacing: -0.88px !important;
            font-size: 22px !important;
            margin-bottom: 22px !important;
        }
        p{
            font-size: 12px !important;
            margin-left: 0px !important
        }
  
        .desktopNone{
            display: block;
        }
        .flextitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                svg{
                    width: 47px;
                    height: 47px;
                }
            }
        }

    }
}

@media(min-width:768px) and (max-width:992px){
    .HomeFuture{
        h3{
            letter-spacing: -0.88px !important;
            font-size: 22px !important;
            margin-bottom: 22px !important;
        }
        p{
            font-size: 12px !important;
            margin-left: 0px !important
        }
        .mobileNone{
            display: none;
        }
        .desktopNone{
            display: block;
        }
        .flextitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                svg{
                    width: 47px;
                    height: 47px;
                }
            }
        }

    }
}