.HomeEnergy{
    position: relative;
    height: 1190px;
    .afterImg{
        position: relative;
        &:after{
            content: url("/assets/images/afterslider.png");
            position: absolute;
            right: -126px;
            bottom: -101px;
            z-index: 2;
        }
    }
    &:after{
        content: "";
        background: url("/assets/images/banner.png") no-repeat center center;
        background-size: cover; /* Görselin genişlik ve yükseklik oranını bozmadan alanı kaplamasını sağlar */
        position: absolute;
        top: 280px; /* Üst kısmını sabitler */
        left: 50%; /* Yatayda merkezler */
        transform: translateX(-50%); /* Görseli yatayda tam ortalar */
        width: 100%; /* Genişliği %100 yaparak ekranla uyumlu hale getirir */
        height: 1100px;
        bottom: 0;
        pointer-events: none;
    }
    .energyContent{
        max-width: 546px;
        width: 100%;
        span{
            font-size: 30px;
            color: #565656;
            font-weight: 300;
            letter-spacing: -1.2px;
        }
        h2{
            font-size: 52px;
            letter-spacing: -2.4px;
            color: #565656;
            font-weight: bold;
            line-height: 60px;
            margin-bottom: 26px;
        }
        p{
            color: #9B9B9B;
            font-weight: 300;
            max-width: 370px;
            width: 100%;
            margin-bottom: 28px;
        }
        a{
            letter-spacing: -0.64px;
            color: #0D4282;
            display: flex;
            align-items: center;
            svg{
                margin-left: 10px;
            }
        }
    }
}

@media(max-width:768px){
    .afterImg{
        display: flex;
        justify-content: flex-end;
        &:after{
            content: "" !important;
            background: url("/assets/images/mobilee.png") !important;
            width: 252px !important;
            height: 138px !important;
            right: 4px !important;
            bottom: -46px !important;
        }
        img{
            max-width: 315px;
        }
    }
    .HomeEnergy{
        height: 770px !important;
        &:after {
            top: 340px !important;
            height: 410px !important;
            background-position: right !important;
            z-index: 5;
        }
        span{
            font-size: 16px !important;
            letter-spacing: -0.64px;
        }
        h2{
            font-size: 35px !important;
            letter-spacing:-1.4px;
            line-height: 41px !important;
            margin-bottom: 7px !important
        }
        p{
            font-size: 14px !important;
            margin-bottom: 9px !important
        }
    }
}

@media(min-width:768px) and (max-width:818px){
    .afterImg{
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
        &:after{
            content: "" !important;
            background: url("/assets/images/mobilee.png") !important;
            width: 252px !important;
            height: 138px !important;
            right: 4px !important;
            bottom: -46px !important;
        }
        img{
            max-width: 315px;
        }
    }
    .HomeEnergy{
        height: 670px !important;
        &:after {
            top: 180px !important;
            height: 490px !important;
        }
        span{
            font-size: 16px !important;
            letter-spacing: -0.64px;
        }
        h2{
            font-size: 35px !important;
            letter-spacing:-1.4px;
            line-height: 41px !important;
            margin-bottom: 7px !important
        }
        p{
            font-size: 14px !important;
            margin-bottom: 9px !important
        }
    }
}
@media(min-width:818px) and (max-width:991px){
      .afterImg{
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
        &:after{
            content: "" !important;
            background: url("/assets/images/mobilee.png") !important;
            width: 252px !important;
            height: 138px !important;
            right: 4px !important;
            bottom: -46px !important;
        }
        img{
            max-width: 315px;
        }
    }
    .HomeEnergy{
        height: 670px !important;
        &:after {
            top: 180px !important;
            height: 490px !important;
            z-index: 5;
        }
        span{
            font-size: 16px !important;
            letter-spacing: -0.64px;
        }
        h2{
            font-size: 35px !important;
            letter-spacing:-1.4px;
            line-height: 41px !important;
            margin-bottom: 7px !important
        }
        p{
            font-size: 14px !important;
            margin-bottom: 9px !important
        }
    } 
}
@media(min-width:991px) and (max-width:1400px){
    .HomeEnergy{
        height: 1020px !important;
        overflow: hidden;
        &:after{
            height: 790px !important;
            z-index: 5;
        }
        .afterImg{
            &:after{
                bottom: -27px !important;
            }
        }
    }
}