.socialSection{
    height: 900px;
    padding: 60px 0px;
    .socialTitle{
        text-align: center;
        h5{
            font-size: 60px;
            letter-spacing: -2.4px;
            color: #4E4E4E;
            font-weight: 300;
            margin-bottom: 10px;
        }
        p{
            color: #9B9B9B;
            font-weight: 300;
        }
    }
}