.socialSection{
    padding: 60px 0px;
    overflow: hidden;
    @media(max-width:550px){
        padding-bottom: 0px !important;
    }
    @media(min-width:550px) and (max-width:768px){
        padding-bottom: 240px !important;
    }
    
    .socialTitle{
        text-align: center;
        h5{
            font-size: 60px;
            letter-spacing: -2.4px;
            color: #4E4E4E;
            font-weight: 300;
            margin-bottom: 10px;
        }
        p{
            color: #9B9B9B;
            font-weight: 300;
        }
    }
}
@media(max-width:768px){
    .socialSection{
        padding: 50px 0 !important;
       
        .slider-container{
            min-height: 650px;
            height: 100% !important;
        }
        .linkSocial{
            bottom: 12%!important;
            svg{
                width: 44px !important;
            }
        }
        .slider-item{
            width: 369px !important;
            height: 457px !important;
        } 
        .lottie{
            display: none !important;
        }
        .nav-button{
            width: 49px !important;
            height: 49px !important;
            top: 50% !important;
             background: url("/assets/images/langbg.svg") !important;
             background-repeat: no-repeat !important;
             background-size: cover !important;
             border-radius: 18px !important
        }
        .prev{
            left: 30px !important;
            &:after{
                content: url(/assets/images/pb.svg) !important; 
            }
            @media(max-width:550px){
                left: 0px !important;
            }
        }
        .next{
            right: 30px !important;
            &:after{
                content: url(/assets/images/mb.svg) !important; 
            }
            @media(max-width:550px){
                right: 0px !important;
            }
        }
        .sliderContent{
            padding: 15px !important;
            h2{
                font-size: 20px !important;
            }
            p{
                font-size: 12px !important;
            }
        }
        .slider-wrapper{
            padding: 100px 0 !important;
            .active{
                width: 303px !important;
                height: 440px !important;
            }
        }
        .socialTitle{
            h5{
                font-size: 40px !important;
                letter-spacing: -1.6px !important;
                margin-bottom: 10px !important;
            }
            p{
                font-size: 12px !important;
                margin-bottom: 0px !important;
            }
        }
    }
}

@media(min-width:768px) and (max-width:992px){
    .socialSection{
        padding: 50px 0 !important;
        padding-bottom: 240px !important;
        .slider-container{
            min-height: 650px;
            height: 100% !important;
        }
        .linkSocial{
            bottom: 12%!important;
            svg{
                width: 44px !important;
            }
        }
        .slider-item{
            width: 369px !important;
            height: 457px !important;
        } 
        .lottie{
            display: none !important;
        }
        .nav-button{
            width: 49px !important;
            height: 49px !important;
            top: 50% !important;
             background: url("/assets/images/langbg.svg") !important;
             background-repeat: no-repeat !important;
             background-size: cover !important;
             border-radius: 18px !important
        }
        .prev{
            left: 30px !important;
            &:after{
                content: url(/assets/images/pb.svg) !important; 
            }
        }
        .next{
            right: 30px !important;
            &:after{
                content: url(/assets/images/mb.svg) !important; 
            }
        }
        .sliderContent{
            padding: 15px !important;
            h2{
                font-size: 20px !important;
            }
            p{
                font-size: 12px !important;
            }
        }
        .slider-wrapper{
            padding: 100px 0 !important;
            .active{
                width: 500px !important;
                height: 440px !important;
            }
        }
        .socialTitle{
            h5{
                font-size: 40px !important;
                letter-spacing: -1.6px !important;
                margin-bottom: 10px !important;
            }
            p{
                font-size: 12px !important;
                margin-bottom: 0px !important;
            }
        }
    }
}