.homeTab{
    position: relative;
    height: 1300px;

    &:after{
        content: "";
        background: url("/assets/images/after.webp");
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 70px;
        z-index: 1;
        left: 1px;
        pointer-events: none;
    }
    &:before{
        content: "";
        background: url("/assets/images/before.webp");
        position: absolute;
        width: 100%;
        height: 100%;
        top: -153px;
        z-index: -1;
    }
    h5{
        font-size: 30px;
        color: #3E3E3E;
        max-width: 287px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 120px;
    }
    p{
        color: #9B9B9B;
        font-weight: 300;
        max-width: 400px;
        width: 100%;
    }
    .contentFlex{
        padding: 40px;
        .div{
            display: flex;
            align-items: center;
           p{
            max-width: 100%;
            text-align: start;
            color: #9B9B9B;
            font-size: 16px;
            margin-bottom: 0px;
           }
            svg{
                height: 39px;
                width: 39px;
                margin-right: 10px;
            }
        }
    }
    .circleTab{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .power-capacity{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #EBECED;
            height: 100%;
            width: 100%;
            max-width: 160px;
            height: 160px;
            border-radius: 100%;
            small{
                font-size: 16px;
                color: #565656;
                line-height: 19px;
                margin-bottom: 4px;
            }
            .capacity-value{
                color: #9EC63B;
                font-size: 22px;
                font-weight: bold;
                font-size: 22px;
                letter-spacing:  -1.32px;
                line-height: 37px;
                .counter{
                    letter-spacing:  -1.32px;
                    color: #9EC63B;
                    font-size: 34px;
                    font-weight: bold;
                }
            }
            .capacity-label{
                letter-spacing: -1.56px;
                color: #9EC63B;
                font-size: 23px;
                line-height: 19px;
                font-weight: bold;
                span{
                    font-size: 16px;
                }
            }
           
        }
    }
    .tabs-container {
        width: 100%;
        max-width: 930px;
        margin: auto;
        text-align: center;
        overflow: hidden;
        position: relative;
        height: 900px;
        &:before{
            content: "";
            background: linear-gradient(to bottom, white 0%, rgb(255 255 255 / 99%) 100%);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0px;
            top: 20px;
            box-shadow:  
            10px 0px 40px rgba(0, 0, 0, 0.2),  
            -10px 0px 40px rgba(0, 0, 0, 0.2);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        }
        .map{
           transform: scale(1.5) translate(170px, 60px);
           transition: all .3s;
           .kirklareli, .edirne, .bursa, .gaziantep{
            fill: #D1D1D1;
            transition: all .3s;
           }
        }
        &.map-0{
            .map{
                .bursaPin{
                    opacity: 1 !important;
                    transition: all .3s;
                  }
                  .bursaAltPin{
                    opacity: 1 !important;
                    transition: all .3s;
                  }
                .bursa{
                    fill: #A1CA3C;
                   }
             }
        }
        &.map-1{
            .map{
                transform: scale(2) translate(300px, 90px);

                .kirklareliPin{
                    opacity: 1 !important;
                  }
                  .kirklareliAltPin{
                    opacity: 1 !important;
                  }


                .kirklareli{
                    fill: #A1CA3C;
                }
             }
        }

        &.map-3{
            .map{
                transform: scale(2) translate(300px, 90px);

                .kislacikPin{
                    opacity: 1 !important;
                  }
                  .kislacikAltPin{
                    opacity: 1 !important;
                  }


                .kislacik{
                    fill: #A1CA3C;
                }
             }
        }

        &.map-4{
            .map{
                transform: scale(2) translate(-121px, -90px);
                z-index: -1;

                .gaziantepPin{
                    opacity: 1 !important;
                  }
                  .gaziantepAltPin{
                    opacity: 1 !important;
                  }


                .gaziantep{
                    fill: #A1CA3C;
                }
             }
        }


        
        &.map-2{
            .map{
                transform: scale(2) translate(300px, 90px);

                .edirnePin{
                    opacity: 1 !important;
                  }
                  .edirneAltPin{
                    opacity: 1 !important;
                  }


                .edirne{
                    fill: #A1CA3C;
                }
             }
        }

    }
    .pin{
        font-size:50px;
        fill: white;
      }
      .bursaPin{
        transform: translate(940px, 771px);
        opacity: 0;
          transition: all .3s;
      }
      .bursaAltPin{
        transform: translate(880px, 821px);
        font-size:40px;
        opacity: 0;
          transition: all .3s;
      }
      
      .kirklareliPin{
        transform: translate(484px, 231px);
        opacity: 0;
        font-size:35px;
          transition: all .3s;
      }
      .kirklareliAltPin{
        transform:translate(460px, 281px);
        font-size:30px;
        opacity: 0;
          transition: all .3s;
      }

      .kislacikPin{
        transform: translate(484px, 231px);
        opacity: 0;
        font-size:35px;
          transition: all .3s;
      }
      .kislacikAltPin{
        transform:translate(460px, 281px);
        font-size:30px;
        opacity: 0;
          transition: all .3s;
      }
      

      .edirnePin{
        transform: translate(314px, 231px);
        opacity: 0;
        font-size:35px;
          transition: all .3s;
      }
      .edirneAltPin{
        transform:translate(334px, 281px);
        font-size:30px;
        opacity: 0;
          transition: all .3s;
      }


      .gaziantepPin{
        transform: translate(3320px, 1801px);
        opacity: 0;
        font-size:35px;
          transition: all .3s;
      }
      .gaziantepAltPin{
        transform:translate(3320px, 1841px);
        font-size:30px;
        opacity: 0;
          transition: all .3s;
      }
      


    
    .tabs {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .tab-title {
        flex: 1;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s;
        text-align: start;
        font-weight: 500;
        font-size: 16px;
        box-shadow: 0px 10px 40px #00000029;
        width: 185px;
        color: #9b9b9b;
        height: 95px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    
        svg {
            display: none;
        }
    
        &.active {
            font-weight: 500;
            background: #a1ca3c;
            color: white;
            height: 114px;
    
            svg {
                display: block;
                position: absolute;
                bottom: 20px;
            }
        }
    }
    
    .tab-content {
        padding: 15px;
        position: relative;
        background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 3;
        overflow: hidden;
    }
}


@media(max-width:768px){
    .homeTab{
        height: 100% !important;
        &:before{
            content: none !important;
        }
        .circleTab{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 90px !important;
            gap: 10px;
        }
        .power-capacity{
            background-color: #ebeced70 !important;
            margin-bottom: 13px !important;
        }
        &:after{
            background-position: bottom !important;
            bottom: 0px !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }
        .contentFlex{
            padding: 30px !important;
        }
        .tabs-container{
            height: 100% !important;
            .map{
                display: none !important;
            }
            &:before{
                top: 0 !important;
            }
        }
        p{
            font-size: 14px !important;
        }
        .tabs{
            flex-direction: column !important;
            align-items: flex-start !important;
        }
        .tab-title{
            width: 100% !important;
            font-size: 16px !important;
            padding: 31px 38px !important;
            height: 80px !important;
            br{
                display: none !important;
            }
            svg{
                bottom: 35px !important;
                right: 38px;
            }
        }
    }
}

@media(min-width:768px) and (max-width:992px){
    .homeTab{
        height: 100% !important;
        &:before{
            content: none !important;
        }
        .circleTab{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 90px !important;
            gap: 10px;
        }
        .power-capacity{
            background-color: #ebeced70 !important;
            margin-bottom: 13px !important;
        }
        &:after{
            background-position: bottom !important;
            bottom: 0px !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }
        .contentFlex{
            padding: 30px !important;
        }
         .map {
            transform: scale(1.5) translate(170px, -50px) !important;
         }
        .tabs-container{
            height: 100% !important;
            .map{
                display: block !important;
            }
            &:before{
                top: 0 !important;
            }
        }
        h5{
            max-width: 100% !important;
        }
        p{
            font-size: 14px !important;
            margin-bottom: 50px !important;
            max-width: 100% !important;
        }
        .tabs{
            flex-direction: column !important;
            align-items: flex-start !important;
        }
        .tab-title{
            width: 100% !important;
            font-size: 16px !important;
            padding: 31px 38px !important;
            height: 80px !important;
            br{
                display: none !important;
            }
            svg{
                bottom: 35px !important;
                right: 38px;
            }
        }
    }
}