@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
footer{
    padding-bottom: 100px;
    position: relative;
    .container{
        position: relative;
        &:before{
            content:  url("/assets/images/footerlogoo.svg");
            position: absolute;
            left: -80px;
            top: -350px;
            z-index: -1;
        }
    }
    &:after{
        content: "";
        background: url("/assets/images/footerbg.webp");
        position: absolute;
        left: 0;
        width: 100%;
        height: 895px;
        filter: blur(6px);
        top: -57%;
        z-index: -1;
    }
    .sendFooter{
        margin-bottom: 200px;
        background: white;
        border-radius: 45px;
        padding: 33px 35px;
        display: flex;
        justify-content: space-between;
        .input-container {
            display: flex;
            align-items: center;
            border: 1px solid #F7F7F7;
            overflow: hidden;
            background: #F7F7F7;
            width: 100%;
            max-width: 892px;
            padding-left: 30px;
            border-radius: 25px;
            input {
              flex: 1;
              border: none;
              outline: none;
              background: #F7F7F7;
              color: #C6C6C6;
              font-size: 16px;
              font-family: "Ubuntu", sans-serif;
              font-weight: 300;
              &::placeholder{
                color: #C6C6C6;
                font-size: 16px;
              }
            }
            button {
              background-color: #0C4282;
              border: none;
              color: white;
              max-width: 180px;
              border-radius: 25px;
              height: 69px;
              width: 100%;
              font-weight: 300;
              svg{
                margin-right: 7px;
              }
              cursor: pointer;
              transition: background 0.3s;
          
              &:hover {
                background-color: #3BAF4C;
              }
            }
          }
          
        .sendContact{
            display: flex;
            align-items: center;
            a{
                display: flex;
                flex-direction: column;
                letter-spacing: -0.75px;
                font-size: 24px;
                color: #565656;
                font-weight: bold;
                line-height: 30px;
                span{
                    font-weight: 300;
                    font-size: 22px;
                }
            }
            div{
                background: linear-gradient(141deg, #99DA01, #4ED35E);
                border-radius: 22px;
                width: 76px;
                height: 76px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                box-shadow: 0px 5px 30px #ABDE016C;
            }
        }
    }
    .footerFlex{
        .footer_img{
            display: flex;
            justify-content: flex-end;
            img{
                max-width: 450px;
                width: 100%;
            }
        }
        .mailBottom{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
            svg{
                margin-right: 20px;
            }
            a{
                display: flex;
                flex-direction: column;
                color: #565656;
                font-size: 22px;
                letter-spacing: -0.55px;
                font-weight: bold;
                line-height: 20px;
                span{
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
        .socialFooter{
            margin-top: 30px;
            ul{
                list-style: none;
                display: flex;
                padding-left: 0px;
                margin-bottom: 0px;
                li{
                    width: 51px;
                    height: 51px;
                    background: url("/assets/images/bgsocial.svg");
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    justify-content: center;
                    svg{
                        path{
                            transition: all .3s;
                        }
                        rect{
                            transition: all .3s;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: #0C4282;
                                transition: all .3s;
                            }
                            rect{
                                fill: #0C4282;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
        .menuFooter{
            display: flex;
            justify-content: space-between;
            ul{
                list-style: none;
                padding-left: 0px;
                margin-right: 30px;
                margin-bottom: 0px;
                li{
                    margin-bottom: 15px;
                    a{
                        font-size: 16px;
                        color: #565656;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .desktopNone{
        display: none;
    }
}


@media(max-width:768px){
    footer{
        padding-bottom: 50px ;
        &:after{
            position: absolute;
            left: 0px;
            width: 100%;
            height: 1115px !important;
            filter: blur(3px);
            top: -250px !important;
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: -550px;
            background-position-y: -330px;
        }
        .container{
            &:before{
                content: "" !important;
                background: url("/assets/images/bb.svg");
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-size: contain;
                left: 0px !important;
                top: -160px !important;
            }
        }
        .input-container{
            margin-bottom: 12px !important;
            padding: 9px 10px;
          
        }
        .desktopNone{
            display: block;
        }
        .mailBottom {
            align-items: center !important;
            margin-top: 0px !important;
            justify-content: center !important;
            margin-bottom: 43px;
        }
      .socialFooter ul {
            justify-content: center !important;
            margin-bottom: 52px !important;
            li{
                margin-right: 13px !important
            }
        }
        .sendContact{
            border-radius: 22px !important;
            background: white;
            padding: 9px 10px;
            a{
                font-size: 22px !important;
                line-height: 22px !important;
            }
            span{
                font-size: 14px !important;
            }
            div{
                width: 62px !important;
                height: 62px !important;
                border-radius: 18px !important;
                box-shadow: 0px 5px 30px #ABDE016C;
            }
        }
        .sendFooter{
            background: transparent;
            flex-direction: column-reverse;
            border-radius: 22px !important;
            padding: 0px !important;
            width: 100%;
            margin-bottom: 90px !important;
            button{
                width: 62px !important;
                height: 62px !important;
                font-size: 0px;
                border-radius: 18px !important;
                svg{
                    margin-right: 0px !important;
                }
            }
        }
        .menuFooter{
            justify-content: center !important;
            flex-wrap: wrap !important;
            ul{
                width: 41%;
                li{
                    a{
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    .socialdiv{
        display: none;
    }
    .maildiv{
        display: none;
    }
    .footer_img{
        justify-content: center !important;
        margin-top: 43px;
        img{
            max-width: 300px !important;
        }
    }
}
@media(min-width:768px) and (max-width:992px){
    footer{
        padding-bottom: 50px ;
        &:after{
            position: absolute;
            left: 0px;
            width: 100%;
            height: 1115px !important;
            filter: blur(3px);
            top: -250px !important;
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: -550px;
            background-position-y: -330px;
        }
        .container{
            &:before{
                content: "" !important;
                background: url("/assets/images/bb.svg");
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-size: contain;
                left: 0px !important;
                top: -160px !important;
            }
        }
        .input-container{
            margin-bottom: 12px !important;
            padding: 9px 10px;
          
        }
        .desktopNone{
            display: block;
        }
        .mailBottom {
            align-items: center !important;
            margin-top: 0px !important;
            justify-content: center !important;
            margin-bottom: 0px;
        }
      .socialFooter ul {
            justify-content: center !important;
            margin-bottom: 52px !important;
            li{
                margin-right: 13px !important
            }
        }
        .sendContact{
            border-radius: 22px !important;
            background: white;
            padding: 9px 10px;
            a{
                font-size: 22px !important;
                line-height: 22px !important;
            }
            span{
                font-size: 14px !important;
            }
            div{
                width: 62px !important;
                height: 62px !important;
                border-radius: 18px !important;
                box-shadow: 0px 5px 30px #ABDE016C;
            }
        }
        .sendFooter{
            background: transparent;
            flex-direction: column-reverse;
            border-radius: 22px !important;
            padding: 0px !important;
            width: 100%;
            margin-bottom: 90px !important;
            button{
                width: 62px !important;
                height: 62px !important;
                font-size: 0px;
                border-radius: 18px !important;
                svg{
                    margin-right: 0px !important;
                }
            }
        }
        .menuFooter{
            justify-content: center !important;
            flex-wrap: wrap !important;
            ul{
                width: 41%;
                li{
                    a{
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    .socialdiv{
        display: none;
    }
    .maildiv{
        display: none;
    }
    .footer_img{
        justify-content: center !important;
        margin-top: 43px;
        img{
            max-width: 300px !important;
        }
    }
    .menuFooter ul li{
        text-align: center;
    }
}